<div class="app-main" id="main">
  <!-- begin container-fluid -->
  <div class="container-fluid">
    <!-- begin row -->
    <div class="row">
      <div class="col-md-12 m-b-30">
        <!-- begin page title -->
        <div class="d-block d-sm-flex flex-nowrap align-items-center">
          <div class="page-title mb-2 mb-sm-0">
            <h1>Stock Managment</h1>
          </div>
          <div class="ml-3 ">
            <nav class="align-items-sm-end">
              <input  c placeholder="startDate" onfocus="(this.type='date')" onblur="(this.type='text')"  id="start"  [(ngModel)]="startDate" >&nbsp;&nbsp;
              <input  placeholder="endDate" onfocus="(this.type='date')" onblur="(this.type='text')"  id="end"  [(ngModel)]="endDate" >&nbsp;&nbsp;
              <input class="btn btn-secondary btn-sm " type="button" value="Search" (click)="getCustomStock()">

            </nav>
          </div>
        </div>
        <!-- end page title -->
      </div>
    </div>
    <!-- end row -->

    <!-- begin row -->
    <div class="row">
      <div class="col-xxl-6 m-b-30">
        <div class="card card-statistics h-100 mb-0">
          <div class="card-header d-flex align-items-center justify-content-between">
            <div class="card-heading">
              <h4 class="card-title">Available stock</h4>
            </div>
            <input type="text" placeholder="Search.." id="search"  [(ngModel)]="searchQuery" (ngModelChange)="search()">
            <a [routerLink]="['../add-stock']"  class="btn btn-outline-dark btn-sm">
                Add New Stock
              </a>




          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table id="latestjobs" class="table table-borderless table-striped jobportal-table mb-0">
                <thead>
                <tr>
                  <th>No.</th>
                  <th>Stock quantity</th>
                  <th>Min Stock quantity</th>
                  <th>Stock label</th>
                  <th>Products associated</th>
                  <th>Actions</th>

                </tr>
                </thead>
                <tbody class="text-muted">
                <ng-container *ngFor="let stock of stocks | paginate : {itemsPerPage: 3, currentPage: page, totalItems: totalLength}">
                <tr [ngClass]="stock.qte > stock.qteMin ? 'status_ok': 'status_missing'" >

                  <td>{{stock.idStock}}</td>
                  <td>{{stock.qte}}</td>
                  <td>{{stock.qteMin}}</td>
                  <td>{{stock.libelleStock}}</td>
                  <td>{{stock.stockproduittt.length}}</td>
                  <td>
                    <button class="btn btn-primary btn-sm" (click)="goToUpdateStock(stock.idStock)">Update</button>
                  </td>
                  <td>
                    <button class="btn btn-danger btn-sm" (click)="goToDeleteStock(stock.idStock)">Delete</button>
                  </td>
                </tr>

                </ng-container>


                </tbody>

              </table>
              <pagination-controls [ngClass]="'pagination'" (pageChange)="page = $event"></pagination-controls>

            </div>

          </div>
        </div>
      </div>

    </div>
    <!-- end row -->
  </div>
  <!-- end container-fluid -->
</div>
