

<div class="app-main" id="main">
  <!-- begin container-fluid -->
  <div class="container-fluid">
    <!-- begin row -->
    <div class="row">
      <div class="col-md-12 m-b-30">
        <!-- begin page title -->
        <div class="d-block d-sm-flex flex-nowrap align-items-center">
          <div class="page-title mb-2 mb-sm-0">
            <h1>Stock Management</h1>
          </div>
          <div class="ml-auto d-flex align-items-center">
<!--            <nav>-->
<!--              <ol class="breadcrumb p-0 m-b-0">-->
<!--                <li class="breadcrumb-item">-->
<!--                  <a href="../../../../index.html"><i class="ti ti-home"></i></a>-->
<!--                </li>-->
<!--                <li class="breadcrumb-item">-->
<!--                  Dashboard-->
<!--                </li>-->
<!--                <li class="breadcrumb-item active text-primary" aria-current="page">Job-->
<!--                  Portal</li>-->
<!--              </ol>-->
<!--            </nav>-->
          </div>
        </div>
        <!-- end page title -->
      </div>
    </div>
    <!-- end row -->

    <!-- begin row -->
    <div class="row">
      <div class="col-xxl-6 m-b-30">
        <div class="card card-statistics h-100 mb-0">
          <div class="card-header d-flex align-items-center justify-content-between">
            <div class="card-heading">
              <h4 class="card-title">Update stock</h4>
            </div>
            <a class="p-2" [routerLink]="['/stock-management/list-stock']" >Go back</a>
          </div>
          <div class="card-body">
            <form [formGroup]="updateStockForm" (ngSubmit)="updateStock(stockToUpdate)">

              <div class="form-group">
                <label for="stock_qte">Stock quantity</label>
                <input  formControlName="qte" class="form-control" id="stock_qte" >
              </div>
              <app-errors  *ngIf="updateStockForm.get('qte')?.touched && updateStockForm.controls['qte'].invalid" [errors]="updateStockForm.controls['qte'].errors"></app-errors>


              <div class="form-group">
                <label for="min_qte">Minimum quantity</label>
                <input  formControlName="qteMin" class="form-control" id="min_qte" >
              </div>
              <app-errors  *ngIf="updateStockForm.get('qteMin')?.touched && updateStockForm.controls['qteMin'].invalid" [errors]="updateStockForm.controls['qteMin'].errors"></app-errors>

              <div class="form-group">
                <label for="stock_label">Stock label</label>
                <input  formControlName="libelleStock" class="form-control" id="stock_label" >
              </div>
              <app-errors  *ngIf="updateStockForm.get('libelleStock')?.touched && updateStockForm.controls['libelleStock'].invalid" [errors]="updateStockForm.controls['libelleStock'].errors"></app-errors>

              <button [disabled]="!updateStockForm.valid" class="btn btn-primary" type="submit">Update</button>
            </form>

          </div>
        </div>
      </div>

    </div>
    <!-- end row -->
  </div>
  <!-- end container-fluid -->
</div>
