.addFournisseur{
    margin:10% 0 20% 20% ;    
    display: flex;
    flex-direction: row;
   
    flex-wrap: wrap;
}
.lesFournisseur{
   
    margin-left:35% ;  
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
    margin-top: -20%;
}
.btnplace{
   margin-top: 5%;
   margin-left: 20%;
    padding-bottom: 10%;   
}
.perso{
    display: flex;
    flex-direction: row;
  flex-wrap: wrap; 
}

.Recherche{
    
    position: absolute;
  
    margin-left: 20%;
    margin-top: -3%;
    display: flex;
    flex-direction: column;
}
.myimage{
    width: 40%;
        margin-bottom: 5%;
        margin-left: 20%;
}
.card{
    height: 90%;

}
