<router-outlet></router-outlet>

<div class="addFournisseur row container">
  <img class="myimage" src="assets\assets\img\Fournisseur.png" id="logo">
</div>
<section class="lesFournisseur" *ngIf="!show" >
<div *ngFor="let i of fournisseurs; let position=index">

    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Code Fournisseur :{{i.codeFournisseur}}</h5>
         
          <p class="card-text">Libellé Fournisseur :{{i.libelleFournisseur}}</p>
          <button [routerLink]="['/home/listFournisseur/',i.idFournisseur]" class="btn btn-primary">Visite</button> 
          <button  class="btn btn-secondary" (click)="editFournisseur(i)">Edit</button> 
          <button class="btn btn-danger" (click)="DeleteBtn(i,position)">Delete</button>
    
        </div>
      </div>


</div>
</section> 
<app-categorie-fournisseur></app-categorie-fournisseur>
<div class="btnplace" >
  <app-edit-fournisseur  (edited)="editMyFournisseur($event)"  *ngIf="show" [Fournisseur]="Fournisseur"></app-edit-fournisseur>

  <button class="btn btn-primary " (click)="showForm()">Add Fournisseur</button>
<app-form-fournisseur (aded)="addFournisseur($event)" *ngIf="showAdd"></app-form-fournisseur>
<br>
<button class="btn btn-primary " (click)="showStat()" >show stat</button>

<app-fournisseur-pie-charts *ngIf="showstat"></app-fournisseur-pie-charts>
</div>