<div class="mt-3 employees-contant-inner">
    <h4 class="mb-1">Date Creation: {{prod?.detailproduit?.dateCreation}}</h4>
    <h4 class="mb-1">Date Modification: {{prod?.detailproduit?.dateDerniereModification}} </h4>
    <div class="mt-3 ">
        <span class="badge badge-pill badge-success-inverse px-3 py-2">Catégorie: {{prod?.detailproduit?.categorieProduit}}</span>
      
        <button class="badge badge-pill badge-primary-inverse px-3 py-2" >Commander</button>
        <!-- <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating> -->

    </div>
</div>