<div class="app-main" id="main">
    <!-- begin container-fluid -->
    <div class="container-fluid">
      <!-- begin row -->
    
  
  
      <div class="row">
        <div class="col-12">
            <div class="card card-statistics clients-contant">
                <div class="card-header">
                    <div class="d-xxs-flex justify-content-between align-items-center">
                        <div class="card-heading">
                            <h4 class="card-title">Clients List </h4>
                        </div>
                        


                        <div class="mt-xxs-0 mt-3 btn-group btn-group-toggle" data-toggle="buttons">
                            <a [routerLink]="['../add-client']"  class="btn btn-outline-dark btn-sm">
                                Add New Client
                              </a>
                        </div>
                    </div>
                </div>
                <div class="card-body py-0 table-responsive">
                    <table class="table clients-contant-table mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Clients</th>
                                <th scope="col">Date Naissance</th>
                                <th scope="col">Profession</th>
                                <th scope="col">Email</th>
                                <th scope="col">Client Category</th>
                                <th scope="col">Edit & Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let c of listClients ;let i = index; let f=first">
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="bg-img mr-4">
                                          
                                            <img src="assets/assets/img/avtar/01.jpg" class="img-fluid" alt="Clients-01">
                                        </div>
                                        <p class="font-weight-bold">{{c.nom +" "+ c.prenom}}</p>
                                    </div>
                                </td>
                                <td>{{c.dateNaissance}}</td>
                                <td>{{c.profession}}</td>
                                <td>{{c.email}}</td>
                                <td><a href="javascript:void(0)" class="dot"></a><span>{{c.categorieClient}}</span></td>
                                <td>
                                    <a href="javascript:void(0)" (click)="goToUpdateClient(c.idClient)" class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0 "><i class="ti ti-pencil"></i></a>
                                    <a href="javascript:void(0)" (click)="goToDeleteClient(c.idClient)" class="btn btn-icon btn-outline-danger btn-round" ><i class="ti ti-close"></i></a>
                               
                                </td>
                            </tr> 
                        </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
    </div>

  
  
  
  
  
  
  
  
  
  
  
  
    <simple-notifications></simple-notifications>
      </div>
  
   
  
  </div>
  