<div class="app-main" id="main">
    <!-- begin container-fluid -->
    <div class="container-fluid">
      <!-- begin row -->
      <div class="row">
        <div class="col-md-12 m-b-30">
          <!-- begin page title -->
          <div class="d-block d-sm-flex flex-nowrap align-items-center">
            <div class="page-title mb-2 mb-sm-0">
              <h1>Keep Up with Whats happening !</h1>
            </div>
            <div class="ml-auto d-flex align-items-center">
              <nav>
                <ol class="breadcrumb p-0 m-b-0">
                  <li class="breadcrumb-item">
                    <a href="index.html"><i class="ti ti-home"></i></a>
                  </li>
                 
                </ol>
              </nav>
            </div>
          </div>
          <!-- end page title -->
        </div>
      </div>
      <!-- end row -->
      <!-- begin row -->
      <div class="row">
     
        <div class="col-lg-6 col-xxl-12 m-b-30">
          <div class="card card-statistics h-100 mb-0 widget-income-list">
            <div class="card-body d-flex align-itemes-center">
              <div class="media align-items-center w-100">
                <div class="text-left">
                  <h3 class="mb-0"> {{ Chiffre }}</h3>
                  <span>Number Facture Last month</span>
                </div>
                <div class="img-icon bg-pink ml-auto">
                  <i class="fas fa-calculator text-white"></i>
                </div>
              </div>
            </div>
            <div class="card-body d-flex align-itemes-center">
              <div class="media align-items-center w-100">
                <div class="text-left">
                  <h3 class="mb-0">{{ Chiffre2 }} </h3>
                  <span>Chiffre affaire Last Month</span>
                </div>
                <div class="img-icon bg-primary ml-auto">
                  <i class="far fa-money-bill-alt text-white"></i>
                </div>
              </div>
            </div>
            <div class="card-body d-flex align-itemes-center">
              <div class="media align-items-center w-100">
                <div class="text-left">
                  <h3 class="mb-0">{{ Chiffre3 }} </h3>
                  <span>Chiffre Affaire Today</span>
                </div>
                <div class="img-icon bg-orange ml-auto">
                  <i class="far fa-money-bill-alt text-white"></i>

                </div>
              </div>
            </div>
      
          </div>
        </div>
     
      </div>
  
      <!-- end row -->
    </div>
    <!-- end container-fluid -->
  </div>
  