<div class="app">
    <!-- begin app-wrap -->
    <div class="app-wrap">
  
      <!-- begin app-header -->
     <app-navbar></app-navbar>
      <!-- end app-header -->
      <!-- begin app-container -->
      <div class="app-container">
        <!-- begin app-nabar -->
        <app-sidbar></app-sidbar>
        <!-- end app-navbar -->
        <!-- begin app-main -->
     <router-outlet></router-outlet>
        <!-- end app-main -->
      </div>
      <!-- end app-container -->
      <!-- begin footer -->
     <app-footer></app-footer>
      <!-- end footer -->
    </div>
    <!-- end app-wrap -->
  </div>
  