<div class="app-main" id="main">
  <!-- begin container-fluid -->
  <div class="container-fluid">
<div class="row"  >
  <div class="col-xl-4 col-sm-3" *ngFor="let p of listProducts; let i=index ">
      <div class="card card-statistics employees-contant px-2">
          <div class="card-body  justify-content-center pb-5 pt-1/4">
              <div class="text-center">
                  <div class="text-right">
                      <h4><span class="badge badge-primary badge-pill px-3 py-2"></span></h4>
                  </div>
                  <div class="pt-1 bg-img m-auto"><img src="assets/a2.jpg" class="img-fluid" alt="employees-img"></div>
                  <div class="mt-3 employees-contant-inner">
                      <h4 class="mb-1">{{p.libelle}}</h4>
                      <h5 class="mb-0 text-muted">{{p.prixUnitaire}} DT</h5>
                      <h4 class="mb-0 text-muted hidden= true">{{p.code}}</h4>

                      <div class="mt-3 ">
                          <!-- <div routerLink="/produitdetail/{{p.idProduit}}"></div> -->
                          <button (click) ="getbyidproduit(i)" class="btn btn-warning my-2" >voir plus de détails</button>
                          <app-detail-produit *ngIf="hidden && nb==i" [idProduit]="p.idProduit"></app-detail-produit>     
                      </div>
                      <input type="hidden"  required minlength="3" #box value="{{p.idProduit}}"   /> 

                      <form [formGroup]="myForm" (submit)="getall(box.value)">
        
        
                      <select class="js-basic-single form-control" formControlName="qte">
                        <optgroup label="Select Number of Products">
                          
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
        
                          <option value="4">4</option>
        
                          <option value="5">5</option>
        
                          <option value="10">10</option>
                        </optgroup>
                      </select> 
                      <div class="mt-3">
                      
                      <button type="submit" class="btn btn-primary"><i class="fas fa-shopping-cart"></i>  Ajouter Panier  </button>  
                      
                      
                      </div>
                    </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
  </div>